# q1_avg_price_by_model_top10

In [0]:
%sql
SELECT
  model,
  ROUND(AVG(price), 2) AS avg_price,
  COUNT(*) AS num_cars
FROM workspace.toyota_project.toyota_clean
GROUP BY model
HAVING COUNT(*) >= 10
ORDER BY avg_price DESC
LIMIT 10;

model,avg_price,num_cars
Supra,50741.0,12
Land Cruiser,36487.16,51
PROACE VERSO,28680.2,15
Camry,26910.09,11
Hilux,21504.59,86
Corolla,20942.73,267
C-HR,20651.54,479
GT86,19908.85,73
Prius,18998.84,232
RAV4,18161.06,473

#q2_price_by_fuel_and_transmission

In [0]:
%sql
SELECT
  fuelType,
  transmission,
  ROUND(AVG(price), 2) AS avg_price,
  COUNT(*) AS num_cars
FROM workspace.toyota_project.toyota_clean
GROUP BY fuelType, transmission
ORDER BY avg_price DESC;

fuelType,transmission,avg_price,num_cars
Diesel,Semi-Auto,39130.39,28
Diesel,Automatic,23407.59,97
Hybrid,Automatic,17195.12,2038
Other,Automatic,14453.62,100
Hybrid,Manual,13369.75,4
Hybrid,Other,12795.0,1
Petrol,Automatic,12561.68,422
Diesel,Manual,11983.62,378
Petrol,Semi-Auto,11782.4,226
Petrol,Manual,9282.75,3439
Other,Manual,7472.0,5

#q3_price_vs_car_age

In [0]:
%sql
SELECT
  car_age,
  ROUND(AVG(price), 2) AS avg_price,
  ROUND(AVG(depreciation_score), 2) AS avg_depreciation_score
FROM workspace.toyota_project.toyota_clean
GROUP BY car_age
ORDER BY car_age;

car_age,avg_price,avg_depreciation_score
0,22968.67,null
1,16718.92,16718.92
2,12382.22,6191.11
3,12187.6,4062.53
4,11704.08,2926.02
5,9909.58,1981.92
6,9065.57,1510.93
7,8404.66,1200.67
8,6634.6,829.32
9,5341.43,593.49
10,5397.5,539.75
11,4160.41,378.22
12,3926.21,327.18
13,2797.5,215.19
14,3109.45,222.1
15,3054.42,203.63
16,3893.57,243.35
17,1984.17,116.72
18,1811.0,100.61
19,899.0,47.32
20,2695.0,134.75
21,1995.0,95.0
22,19990.0,908.64

# q4_price_by_mileage_band

In [0]:
%sql
SELECT
  mileage_band,
  ROUND(AVG(price), 2) AS avg_price,
  COUNT(*) AS num_cars
FROM workspace.toyota_project.toyota_clean
GROUP BY mileage_band
ORDER BY avg_price DESC;

mileage_band,avg_price,num_cars
Low (<20k),13903.25,3618
Medium (20–60k),11320.57,2797
High (60–100k),7925.7,276
Very High (>100k),4740.4,47

# q5_engine_size_vs_efficiency

In [0]:
%sql
SELECT
  engineSize,
  ROUND(AVG(fuel_efficiency_index), 3) AS avg_fuel_efficiency,
  ROUND(AVG(mpg), 2) AS avg_mpg,
  COUNT(*) AS num_cars
FROM workspace.toyota_project.toyota_clean
GROUP BY engineSize
ORDER BY engineSize;

engineSize,avg_fuel_efficiency,avg_mpg,num_cars
0.0,null,64.77,6
1.0,65.045,65.04,2059
1.2,40.054,48.07,303
1.3,42.838,55.69,601
1.4,53.23,74.52,40
1.5,42.364,63.55,1423
1.6,34.704,55.53,169
1.8,42.131,75.84,1289
2.0,26.216,52.43,398
2.2,20.567,45.25,58
2.4,13.916,33.4,70
2.5,21.898,54.75,249
2.8,11.795,33.03,36
3.0,11.251,33.75,35
4.2,5.69,23.9,1
4.5,6.6,29.7,1